<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <title>EventBot: {% block title %}Home{% endblock %}</title>
        <link rel="stylesheet" href="/static/eventbot.css" type="text/css" />
        <link rel="canonical" href="{{ canonical }}" />
        {% block robots %}{% endblock %}
        <meta name="description" content="{% block description %}EventBot is a free service that allows you to create events in your Google Calendar by sending an email.{% endblock %}" />
    </head>
    <body>
        <div id="content">
            <img src="/static/logo.jpg" class="logo" alt="EventBot: Personal Calendar Assistant" />
            <ul id="navigation">
                <li>{% block nav-home %}<a href="/">Home</a>{% endblock %}</li>
                <li>{% block nav-how %}<a href="/how.html">How Does it Work?</a>{% endblock %}</li>
                <li>{% block nav-blog %}<a href="http://blog.myeventbot.com">Blog</a>{% endblock %}</li>
                <li>{% block nav-signup %}<a href="{{auth_link}}">Sign Up</a>{% endblock %}</li>
            </ul>
            {% block h1 %}{% endblock %}
            {% block content %}
                <p>
                    EventBot is a service that allows you to create events in your
                    Google Calendar by sending an email.
                </p>
            {% endblock %}
            <div id="footer">
                <p>
                    Copyright &copy;2010 Eric Entzel.
                    Logo by <a href="http://www.veeravagu.com/">Laksman Veeravagu</a>.
                </p>
                <p>
                    Google Calender is a trademark of Google Inc. EventBot is not affiliated with or endorsed by Google Inc. in any way.
                </p>
                <p>
                    Feedback? Contact us by
                    <a href="mailto:admin@myeventbot.com">email</a> or
                    <a href="http://twitter.com/myeventbot">Twitter</a>.
                </p>
            </div>
        </div>
    </body>
</html>
