<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <title>EventBot: Dashboard</title>
        <meta name="robots" content="noindex" />
        <meta name="description" content="Admin dashboard for EventBot" />
    </head>
    <body>
        <div id="content">
            <h1>Dashboard</h1>
            <table>
                <thead><tr>
                    <th>Event</th>
                    {% for day in days %}
                    <th>{{day}}</th>
                    {% endfor %}
                </tr></thead>
                <tbody>
                    <tr>
                        <td>Signups</td>
                        {% for s in signups %}
                            <td>{{s}}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
