<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <title>EventBot: Dashboard</title>
        <link rel="stylesheet" href="/static/dashboard.css" type="text/css" />
        <meta name="robots" content="noindex" />
        <meta name="description" content="Admin dashboard for EventBot" />
    </head>
    <body>
        <div id="content">
            <p class="block users">
                <span title="total">{{all_users}}</span>
                <span class="active" title="active">/{{active_users}}</span>
                <label>users</label>
            </p>
            <table>
                <thead><tr>
                    <th>Event</th>
                    {% for day in days %}
                    <th>{{day|safe}}</th>
                    {% endfor %}
                </tr></thead>
                <tbody>
                    <tr>
                        <td>Signups</td>
                        {% for s in signups %}
                            <td>{{s}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Unique users</td>
                        {% for u in uniques %}
                            <td>{{u}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Events created</td>
                        {% for evt in events_created %}
                            <td>{{evt}}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
        <footer>
            {{env}}
        </footer>
    </body>
</html>
