<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <title>EventBot: Heavy users</title>
        <link rel="stylesheet" href="/static/dashboard.css" type="text/css" />
        <meta name="robots" content="noindex" />
        <meta name="description" content="Heavy users for EventBot" />
    </head>
    <body>
        <div id="content">
            <table>
                <thead><tr>
                    <th>User</th>
                    <th>Events in past 24 hours</th>
                    <th>Confirmation emails?</th>
                </tr></thead>
                <tbody>
                    {% for u in users %}
                        <tr>
                            <td>{{u.email}}</td>
                            <td>{{u.count}}</td>
                            <td>
                                {{u.send_confirmation}}
                                <form action="{{u.toggle_url}}" method="post">
                                    <input type="hidden" name="False" value="false"/>
                                    <input type="submit" value="disable" />
                                </form>
                            </td>
                            <td>
                                <a href="https://appengine.google.com/logs?app_id=s~myeventbot-hrd&amp;version_id=master&amp;severity_level_override=1&amp;severity_level=3&amp;filter=path%3A%2F_ah%2Fmail%2F{{u.email}}.*&amp;filter_type=labels&amp;date_type=now&amp;limit=20&amp;view=Search">logs</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>
