{% extends "base.html" %}

{% block title %}How Does it Work?{% endblock %}
{% block description %}EventBot works by storing a secure token from Google Calendar that allows it to create events when you send email to your personal EventBot address.{% endblock %}
{% block h1 %}<h1>How Does it Work?</h1>{% endblock %}
{% block nav_how %}<span class="active">How Does it Work?</span>{% endblock %}

{% block content %}
<p>
    After you authorize EventBot to access your Google Calendar
    account, EventBot will create a unique, unguessable email address
    for you (something like W8VNdWxg@myeventbot.appspotmail.com).
</p>
<p>
    Remember this address (by adding it to your address book or contacts in
    your email program, for example).  Any time you send an email to this
    address, EventBot will try to interpret the subject line as an event
    description (using
    Google's <a href="https://support.google.com/calendar/answer/36604?hl=en">Quick
    Add</a>) and create that event in your Google Calendar.
</p>
<p>
    EventBot never knows your Google Calendar username and password.
    All we store is a &ldquo;token&rdquo; from Google that can be used
    to create events on your calendar.  EventBot will never use this
    token except in response to emails you send to your personal
    EventBot address.  You can also revoke this token at any time (for
    example if someone else gets hold of your personal EventBot
    address, or you want to stop using EventBot) from
    your <a href="https://www.google.com/accounts/IssuedAuthSubTokens">Google
    Account</a> page.
</p>
<a href="{{auth_link}}" class="button">
    <span>Sounds good,</span>
    <span>sign me up!</span>
</a>
<p>
    Still have questions?  We'd love to hear from you on <a href="http://twitter.com/myeventbot">Twitter</a> or via <a href="mailto:admin@myeventbot.com">email</a>!
</p>
{% endblock %}
