{% extends "base.html" %}

{% block nav-home %}<span class="active">Home</span>{% endblock %}

{% block content %}
    <p>
        EventBot lets you create events in your calendar by simply sending an email to your own personal EventBot address.
        If you have a Google Calendar account, it&rsquo;s free to <a rel="nofollow" href="{{ auth_link }}">get started</a>!
    </p>
    <p>
        <img src="/static/screenshot.png" class="screenshot" alt="Screenshot of adding an event to Google Calendar via email" />
    </p>
{% endblock %}
